.nav {
                background: transparent;
                width: 18%;
                float: left;
            }
            
            .logo {
                width: 98%;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                border: none;
            }
            
            .styled {
                height: 30px;
                width: 95%;
                border-style: solid;
                border-color: black;
                border-width: 2px 0 0 0;
                border-radius: 20px;
            }
            
            .styled:before {
                display: block;
                content: "";
                height: 30px;
                width: 100%;
                margin-top: -31px;    
                border-style: solid;
                border-color: black;
                border-width: 0 0 2px 0;
                border-radius: 20px;
            }
            
            #dotted {
                width: 100%;
                border: 0;
                border-bottom: 2px dashed black;
            }
            
            .page, .social-nav {
                padding: 0;
                text-align: center;
                text-transform: uppercase;
            }
            
            .page-list a {
                padding: 2%;
                display: inline-block;
                color: rgba(0,180,249,1);
                font-size: 25px;
                font-weight: 700;
                text-decoration: none; /* remove underline */
                -webkit-box-reflect: below -23px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(40%, transparent), to(#2FC3FC));
            }
            
            .social-nav li { display: inline; }
            
            .consultation { text-align: center; }
            
            #consult-me {
                display: inline-block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 15px;
                border: none;
                font-size: 25px;
                color: rgba(255,255,255,1);
                background: rgba(255,255,255,0);
                text-decoration: normal;
                -o-text-overflow: clip;
                text-overflow: clip;
                white-space: pre;
                text-shadow: 0 0 10px rgba(0,180,249,1) , 0 0 20px rgba(0,180,249,1) , 0 0 30px rgba(0,180,249,1) , 1px 0 40px rgba(0,180,249,1) , 1px 0 70px rgba(0,180,249,1) , 1px 0 80px rgba(0,180,249,1) , 1px 0 100px rgba(0,180,249,1) ;
                -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            }
            
            #consult-me:hover {
                color: rgba(0,180,249,1);
                text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 1px 0 40px rgba(0,180,249,1) , 1px 0 70px rgba(0,180,249,1) , 1px 0 80px rgba(0,180,249,1) , 1px 0 100px rgba(0,180,249,1) ;
            }
            
/*************************************************************************
Barcode Stuff 
**************************************************************************/
            
            .barcode {
                height: 5em;
                display: inline-block;
                margin-top: 7%;
            }

            .bcs, .bcm, .bce {
                height: 100%;
                display: inline-block;
            }

            .bc0, .bc1, .bc2, .bc3, .bc4, .bc5, .bc6, .bc7, .bc8, .bc9 {
                position: relative;
                background-repeat: repeat-y;
                display: inline-block;
                height: 100%;
                vertical-align: top;
            }

            .bc0:after, .bc1:after, .bc2:after, .bc3:after, .bc4:after, .bc5:after, .bc6:after, .bc7:after, .bc8:after, .bc9:after {
                position: absolute;
                left: 0;
                width: 100%;
                bottom: -1em;
                text-align: center;
            }

            .bc0:after { content: "0"; }
            .bc1:after { content: "1"; }
            .bc2:after { content: "2"; }
            .bc3:after { content: "3"; }
            .bc4:after { content: "4"; }
            .bc5:after { content: "5"; }
            .bc6:after { content: "6"; }
            .bc7:after { content: "7"; }
            .bc8:after { content: "8"; }
            .bc9:after { content: "9"; }

            .bcs, .bce {
                padding-bottom: 0.7em;
                width: 0.3em;
            }

            .bcm {
                padding-bottom: 0.7em;
                width: 0.5em;
            }

            .bc0, .bc1, .bc2, .bc3, .bc4, .bc5, .bc6, .bc7, .bc8, .bc9 { width: 0.7em; }

            .bcs, .bce { background-image: linear-gradient(90deg, black 33.33%, transparent 0, transparent 66.67%, black 0); }
            .bcm { background-image: linear-gradient(90deg, transparent 20%, black 0, black 40%, transparent 0, transparent 60%, black 0, black 80%, transparent 0); }
            
            .bcl > .bc0 {	background-image: linear-gradient(90deg, transparent 42.86%, black 0, black 71.43%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc0 {	background-image: linear-gradient(90deg, black 42.86%, transparent 0, transparent 71.43%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc1 {	background-image: linear-gradient(90deg, transparent 28.57%, black 0, black 57.14%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc1 {	background-image: linear-gradient(90deg, black 28.57%, transparent 0, transparent 57.14%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc2 {	background-image: linear-gradient(90deg, transparent 28.57%, black 0, black 42.86%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc2 {	background-image: linear-gradient(90deg, black 28.57%, transparent 0, transparent 42.86%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc3 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 71.43%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc3 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 71.43%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc4 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 28.57%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc4 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 28.57%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc5 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 42.86%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc5 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 42.86%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc6 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 28.57%, transparent 0, transparent 42.86%, black 0);	}
            .bcr > .bc6 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 28.57%, black 0, black 42.86%, transparent 0);	}
            .bcl > .bc7 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 57.14%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc7 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 57.14%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc8 {	background-image: linear-gradient(90deg, transparent 14.29%, black 0, black 42.86%, transparent 0, transparent 57.14%, black 0);	}
            .bcr > .bc8 {	background-image: linear-gradient(90deg, black 14.29%, transparent 0, transparent 42.86%, black 0, black 57.14%, transparent 0);	}
            .bcl > .bc9 {	background-image: linear-gradient(90deg, transparent 42.86%, black 0, black 57.14%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc9 {	background-image: linear-gradient(90deg, black 42.86%, transparent 0, transparent 57.14%, black 0, black 71.43%, transparent 0);	}

            /*prefixed styles, yuk!*/

            .bcs, .bce { background-image: -webkit-linear-gradient(left, black 33.33%, transparent 0, transparent 66.67%, black 0); }
            .bcm { background-image: -webkit-linear-gradient(left, transparent 20%, black 0, black 40%, transparent 0, transparent 60%, black 0, black 80%, transparent 0); }
                        
            .bcl > .bc0 {	background-image: -webkit-linear-gradient(left, transparent 42.86%, black 0, black 71.43%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc0 {	background-image: -webkit-linear-gradient(left, black 42.86%, transparent 0, transparent 71.43%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc1 {	background-image: -webkit-linear-gradient(left, transparent 28.57%, black 0, black 57.14%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc1 {	background-image: -webkit-linear-gradient(left, black 28.57%, transparent 0, transparent 57.14%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc2 {	background-image: -webkit-linear-gradient(left, transparent 28.57%, black 0, black 42.86%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc2 {	background-image: -webkit-linear-gradient(left, black 28.57%, transparent 0, transparent 42.86%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc3 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 71.43%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc3 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 71.43%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc4 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 28.57%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc4 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 28.57%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc5 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 42.86%, transparent 0, transparent 85.71%, black 0);	}
            .bcr > .bc5 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 42.86%, black 0, black 85.71%, transparent 0);	}
            .bcl > .bc6 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 28.57%, transparent 0, transparent 42.86%, black 0);	}
            .bcr > .bc6 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 28.57%, black 0, black 42.86%, transparent 0);	}
            .bcl > .bc7 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 57.14%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc7 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 57.14%, black 0, black 71.43%, transparent 0);	}
            .bcl > .bc8 {	background-image: -webkit-linear-gradient(left, transparent 14.29%, black 0, black 42.86%, transparent 0, transparent 57.14%, black 0);	}
            .bcr > .bc8 {	background-image: -webkit-linear-gradient(left, black 14.29%, transparent 0, transparent 42.86%, black 0, black 57.14%, transparent 0);	}
            .bcl > .bc9 {	background-image: -webkit-linear-gradient(left, transparent 42.86%, black 0, black 57.14%, transparent 0, transparent 71.43%, black 0);	}
            .bcr > .bc9 {	background-image: -webkit-linear-gradient(left, black 42.86%, transparent 0, transparent 57.14%, black 0, black 71.43%, transparent 0);	}
/*************************************************************************/
            
            .content {
                width: 80%;
                float: right;
            }